-var path = '';
-var head_url = 'https://petrova.mymv.ru/extrasensorial-vision/';
-var head_title = 'Экстрасенсорное видение';
-var head_description = 'Онлайн мастер-класс Анастасии Петровой';
-var styles = path+'css/styles.min.css';
//-var fav_ap = path+'favicon.svg';
-var fav_ico = path+'favicon.ico';
-var fav_png = path+'favicon.png';
-var libs = path+'js/libs.min.js';
-var scripts = path+'js/scripts.min.js';
-var noref = true;
//-var footer_title = true;
//-var oferta = 'https://mastervision.su/oferta.docx';
//- -var ak = true
-var tk = true;
-var ah = true;
-var href = '#Modal';
-var action = '';
-var group = '';
-var formId = '';
-var formVc = '';
-var hw = true;

mixin b(cl, href, p, target, id)
		a.button(class=cl href!=href target=target id=id)=p
mixin gt(cl, h3)
	h3.general-title(class=cl)=h3
mixin imgs(cl, src, alt)
	img(class=cl src=path+src alt=alt)


doctype html
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		.wrapper
			include pug/main/1-main
			.big-wrapper
				include pug/main/2-video
				include pug/main/3-bullits
				include pug/main/4-plan
				include pug/main/5-get
				include pug/main/6-author
				include pug/main/7-revs
		include pug/base/2-footer
		include pug/main/8-modal
		include pug/base/3-scripts
		//- include pug/scripts/chat
		include pug/scripts/body_bottom_scripts